.col-h{
    background-color: rgba(216, 30, 30, 0.952);
   position: fixed;
    color: white;
   height: 75px;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   text-align: center;
}
#name{
    height: 20px;
}
.align-items-center{
    align-items: start;
}